block variables
  -var title = 'Отчетность'
  -var table = 'select'

mixin tableRow(year, region, income, production, research, ecology, employment, investment, share_price, dividends, total_payments)
  tr
    td= year
    td= region
    td= income
    td= production
    td= research
    td= ecology
    td= employment
    td= investment
    td= share_price
    td= dividends
    td= total_payments

include includes/header.pug  
details
  p
    summary Построение графика
  form
    p
      | Значение по оси OX:
      br
      label
        input(type="radio", name="graph", value="year")
        | Год
      br
      label
        input(type="radio", name="graph", value="city")
        | Город
    p
      | Результат:
      br
      label
        input(type="checkbox", name="graph", value="dividends")
        | Средние дивиденды (%)
      br
      label
        input(type="checkbox", name="graph", value="people")
        | Уровень занятости (привлеченных человек)
      br
      label
        input(type="checkbox", name="graph", value="actprice")
        | Средняя стоимость акции (руб)
      br
      label
        input(type="checkbox", name="graph", value="value")
        | Объём добычи (тысяч тонн)
    p
      input(type="button", value="Построить")
      input(type="reset", value="Сбросить настройки")
details
  summary Фильтр
  form
    p
      each label in ["Год","Город","Доходность (млн руб)","Объем добычи (тысяч тонн)","Затраты на исследования и разработку (млн руб)","Затраты на экологическую безопасность (млн руб)","Уровень занятости (человек)","Инвестиции и финансирование (млн руб)","Стоимость 1 акции (руб)","Дивиденды на акцию (%)","Общая сумма выплат акционерам (млн руб)"]
        if label == "Город"
          label= label + ":"
          input(type="text")
          br
        else
          label= label + ": от"
          input(type="text")
          |  до
          input(type="text")
          br
        br
    p
      input(type="button", value="Найти")
      input(type="reset", value="Сбросить фильтр")
details
  summary Сортировка
  form
    each priority in ["Первый", "Второй", "Третий"]
      p
        | #{priority} приоритет:
        select
          each option in ["Год","Город","Доходность (млн руб)","Объем добычи (тысяч тонн)","Затраты на исследования и разработку (млн руб)","Затраты на экологическую безопасность (млн руб)","Уровень занятости (человек)","Инвестиции и финансирование (млн руб)","Стоимость 1 акции (руб)","Дивиденды на акцию (%)","Общая сумма выплат акционерам (млн руб)"]
            option= option
        select
          option По возрастанию
          option По убыванию
    p
      input(type="button", value="Сортировать")
      input(type="reset", value="Сбросить настройки")
h1 Данные Нефтегазовой Компании
table
  tbody
    tr
      th Год
      th Нефтяной регион
      th Доходность (млн руб)
      th Объем добычи (тысяч тонн)
      th Затраты на исследования и разработку (млн руб)
      th Затраты на экологическую безопасность (млн руб)
      th Уровень занятости (человек)
      th Инвестиции и финансирование (млн руб)
      th Стоимость 1 акции (руб)
      th Дивиденды на акцию (%)
      th Общая сумма выплат акционерам (млн руб)
    +tableRow('1953', 'Башкортостан', '1802.22', '8226', '184.87', '11.23', '1649', '131.86', '90.4', '2.59', '18.73')
    +tableRow('1954', 'Татарстан', '4397.59', '2963', '106.36', '33.21', '4681', '383.1', '97.65', '4.68', '36.56')
    +tableRow('1955', 'ХМАО Югра', '2071.11', '5725', '80.74', '39.54', '2258', '453.72', '101.23', '6.88', '27.86')
    +tableRow('1956', 'Ямальский АО', '3949.09', '7417', '16.14', '23.63', '602', '261.09', '96.69', '6.37', '6.16')
    +tableRow('1957', 'Омская обл.', '2299.1', '3523', '58.93', '27.86', '847', '277.86', '93.48', '3.72', '34.77')
    +tableRow('1958', 'Татарстан', '1196.13', '1302', '165.48', '46.33', '1843', '295.66', '87.35', '7.71', '40.41')
    +tableRow('1959', 'Томская обл.', '3441.85', '8438', '242.67', '22.76', '1132', '235.42', '99.66', '5.57', '33.31')
    +tableRow('1960', 'Башкортостан', '732.78', '4115', '10.12', '32.99', '4346', '317.02', '100.46', '8.77', '35.24')
    +tableRow('1961', 'ХМАО Югра', '1631.84', '5809', '213.63', '43.96', '2751', '411.7', '95.86', '3.41', '32.69')
    +tableRow('1962', 'Татарстан', '716.14', '9732', '204.72', '45.19', '2306', '197.15', '94.07', '2.59', '4.87')
    +tableRow('1963', 'ХМАО Югра', '2267.06', '6697', '16.21', '36.3', '2947', '454.17', '90.79', '5.47', '29.8')
    +tableRow('1964', 'Башкортостан', '1376.51', '3244', '109.95', '32.61', '3490', '301.16', '89.74', '6.64', '59.59')
    +tableRow('1965', 'Тюменская обл.', '3362.24', '1103', '125.07', '17.73', '4200', '134.7', '97.13', '5.87', '39.91')
    +tableRow('1966', 'Тюменская обл.', '2371.28', '6813', '216.43', '29.62', '3967', '178.19', '101.31', '6.52', '6.61')
    +tableRow('1967', 'Татарстан', '2942.69', '5935', '127.15', '22.6', '1479', '352.55', '96.83', '2.85', '13.8')
    +tableRow('1968', 'Томская обл.', '4276.3', '9403', '121.03', '29.6', '1710', '127.55', '105.28', '9.67', '61.08')
    +tableRow('1969', 'Ямальский АО', '2530.77', '3164', '85.56', '34.18', '4266', '183.99', '104.97', '7.59', '63.74')
    +tableRow('1970', 'Башкортостан', '1527.4', '2988', '26.5', '48.85', '1094', '409.97', '119.29', '9.44', '33.78')
    +tableRow('1971', 'Татарстан', '696.17', '7366', '127.64', '46.84', '4776', '465.49', '113.73', '4.39', '29.96')
    +tableRow('1972', 'Омская обл.', '3806.43', '3627', '131.47', '18.96', '3414', '268.52', '119.15', '5.29', '12.61')
    +tableRow('1973', 'Омская обл.', '900.61', '5735', '26.42', '38.1', '4791', '427.97', '114.99', '9.14', '21.02')
    +tableRow('1974', 'Татарстан', '2443.06', '8219', '33.86', '21.44', '1031', '430.26', '109.6', '4.44', '9.73')
    +tableRow('1975', 'Башкортостан', '2244.11', '8000', '129.02', '13.27', '947', '129.16', '107.78', '5.55', '29.91')
    +tableRow('1976', 'Омская обл.', '824.85', '7624', '232.22', '20.04', '1119', '193.93', '113.4', '5.55', '12.59')
    +tableRow('1977', 'Тюменская обл.', '4712.91', '6422', '39.32', '38.85', '3570', '424.69', '117.48', '7.01', '82.35')
    +tableRow('1978', 'Тюменская обл.', '4898.18', '9243', '40.74', '13.85', '3322', '296.15', '115.43', '6.89', '47.72')
    +tableRow('1979', 'Тюменская обл.', '1200.86', '8007', '28.68', '30.39', '3002', '94.91', '120.99', '3.24', '15.68')
    +tableRow('1980', 'Ямальский АО', '3478.13', '7831', '133.76', '31.39', '4117', '324.34', '124.04', '4.81', '5.97')
    +tableRow('1981', 'ХМАО Югра', '3914.15', '7298', '34.93', '13.46', '3117', '380.4', '137.6', '6.24', '68.69')
    +tableRow('1982', 'Башкортостан', '4466.15', '1122', '152.5', '31.35', '3264', '334.43', '128.47', '3.07', '7.89')
    +tableRow('1983', 'Тюменская обл.', '2367.21', '2788', '33.19', '36.97', '966', '403.72', '123.55', '3.2', '19.77')
    +tableRow('1984', 'Ямальский АО', '1800.33', '9086', '215.2', '43.29', '2847', '149.85', '114.89', '8.03', '46.13')
    +tableRow('1985', 'Татарстан', '3349.11', '3358', '231.91', '34.63', '1005', '147.23', '113.61', '7.3', '74.64')
    +tableRow('1986', 'Томская обл.', '4709.16', '1027', '179.87', '19.31', '1072', '436.91', '108.7', '5.9', '12.83')
    +tableRow('1987', 'Омская обл.', '4276.69', '7154', '22.18', '33.73', '1186', '79.14', '124.18', '5.25', '65.19')
    +tableRow('1988', 'ХМАО Югра', '3572.13', '3799', '86.72', '48.74', '509', '273.47', '121.78', '4.31', '26.24')
    +tableRow('1989', 'Томская обл.', '1444.78', '6379', '118.67', '41.24', '3849', '300.84', '134.28', '9.23', '12.39')
    +tableRow('1990', 'Омская обл.', '1472.41', '9773', '241.65', '21.99', '3279', '127.61', '147.46', '6.89', '60.96')
    +tableRow('1991', 'Башкортостан', '2087.61', '8485', '95.56', '25.84', '2840', '61.57', '139.26', '2.16', '30.08')
    +tableRow('1992', 'Омская обл.', '809.55', '4974', '213.11', '20.75', '2259', '341.42', '132.69', '3.34', '4.43')
    +tableRow('1993', 'Тюменская обл.', '870.8', '4020', '135.83', '15.66', '3590', '328.04', '123.43', '4.06', '50.11')
    +tableRow('1994', 'Томская обл.', '2915.97', '2373', '37.91', '23.03', '2340', '167.54', '129.23', '3.15', '20.35')
    +tableRow('1995', 'Татарстан', '1371.32', '6521', '200.23', '42.08', '1360', '234.29', '142.91', '7.78', '100.07')
    +tableRow('1996', 'ХМАО Югра', '2106.38', '9662', '223.74', '31.41', '1435', '98.76', '136.03', '5.77', '47.09')
    +tableRow('1997', 'Ямальский АО', '3569.06', '3749', '82.54', '31.41', '3348', '60.57', '134.41', '9.84', '132.26')
    +tableRow('1998', 'Тюменская обл.', '1271.68', '4142', '19.97', '48.52', '2355', '476.7', '154.5', '4.06', '62.73')
    +tableRow('1999', 'ХМАО Югра', '1108.82', '4049', '113.71', '35.05', '1008', '228.82', '145.4', '8.71', '63.32')
    +tableRow('2000', 'Томская обл.', '906.19', '6005', '225.34', '18.06', '1079', '257.1', '154.09', '7.81', '60.17')
    +tableRow('2001', 'Тюменская обл.', '4627.69', '9805', '169.33', '22.98', '4690', '323.56', '146.49', '2.4', '14.06')
    +tableRow('2002', 'Томская обл.', '4038.41', '5927', '169.63', '12.11', '1243', '188.51', '151.45', '8.55', '12.95')
    +tableRow('2003', 'Омская обл.', '751.67', '1777', '248.5', '49.94', '3088', '427.61', '155.19', '5.51', '76.96')
    +tableRow('2004', 'Татарстан', '3865.88', '7344', '138.58', '41.19', '2661', '437.16', '167.76', '9.1', '137.4')
    +tableRow('2005', 'Томская обл.', '3597.0', '2213', '23.11', '32.81', '4817', '341.79', '156.11', '4.95', '61.82')
    +tableRow('2006', 'Ямальский АО', '2437.24', '7426', '246.52', '49.88', '2881', '418.72', '171.25', '9.13', '125.08')
    +tableRow('2007', 'Тюменская обл.', '2888.59', '7602', '12.64', '36.98', '4479', '392.92', '184.58', '3.75', '6.92')
    +tableRow('2008', 'ХМАО Югра', '1589.76', '5408', '117.95', '22.09', '4764', '145.71', '171.92', '9.96', '85.62')
    +tableRow('2009', 'Башкортостан', '1291.41', '9143', '10.38', '26.8', '3584', '86.86', '178.72', '6.0', '107.23')
    +tableRow('2010', 'Башкортостан', '2403.85', '8605', '39.34', '44.02', '4137', '354.71', '201.21', '4.8', '19.32')
    +tableRow('2011', 'Татарстан', '2455.12', '9325', '27.79', '47.71', '2505', '116.15', '226.73', '4.06', '46.03')
    +tableRow('2012', 'Ямальский АО', '728.0', '4626', '28.27', '39.27', '4047', '313.05', '241.3', '9.3', '134.65')
    +tableRow('2013', 'Тюменская обл.', '3944.7', '7803', '48.16', '17.11', '1699', '129.64', '267.65', '9.57', '128.07')
    +tableRow('2014', 'Томская обл.', '4016.84', '9953', '160.29', '17.61', '2606', '118.66', '299.25', '9.02', '215.94')
    +tableRow('2015', 'Башкортостан', '3562.87', '2653', '242.5', '19.77', '1525', '297.49', '287.97', '5.6', '161.26')
    +tableRow('2016', 'Томская обл.', '1753.02', '4453', '36.59', '42.29', '4409', '336.88', '299.99', '6.72', '161.27')
    +tableRow('2017', 'Омская обл.', '4844.15', '3589', '119.41', '18.24', '2807', '285.92', '292.96', '4.73', '41.57')
    +tableRow('2018', 'ХМАО Югра', '3148.7', '8217', '149.59', '39.55', '4228', '292.08', '298.33', '7.12', '212.41')
    +tableRow('2019', 'Башкортостан', '4850.88', '4370', '80.75', '42.27', '3391', '191.59', '338.02', '4.16', '84.37')
    +tableRow('2020', 'Томская обл.', '4064.7', '7556', '237.77', '21.72', '4591', '391.12', '345.04', '5.0', '120.76')
    +tableRow('2021', 'Ямальский АО', '3626.53', '3391', '127.71', '18.48', '3450', '253.28', '337.08', '3.87', '13.04')
    +tableRow('2022', 'Башкортостан', '1678.55', '2797', '71.73', '32.52', '2629', '453.24', '382.05', '7.38', '84.59')
    +tableRow('2023', 'Омская обл.', '1951.68', '4929', '45.73', '33.31', '1480', '69.11', '364.52', '7.7', '84.2')
include includes/footer.pug
