extends template

block variables
  -var title = 'Отчетность'
  -var table = 'select'
  -var data = [{'year': '1953', 'region': 'Башкортостан', 'value1': '1802.22', 'value2': '8226', 'value3': '184.87', 'value4': '11.23', 'value5': '1649', 'value6': '131.86', 'value7': '90.4', 'value8': '2.59', 'value9': '18.73'}, {'year': '1954', 'region': 'Татарстан', 'value1': '4397.59', 'value2': '2963', 'value3': '106.36', 'value4': '33.21', 'value5': '4681', 'value6': '383.1', 'value7': '97.65', 'value8': '4.68', 'value9': '36.56'},{'year': '1955', 'region': 'ХМАО Югра', 'value1': '2071.11', 'value2': '5725', 'value3': '80.74', 'value4': '39.54', 'value5': '2258', 'value6': '453.72', 'value7': '101.23', 'value8': '6.88', 'value9': '27.86'},{'year': '1956', 'region': 'Ямальский АО', 'value1': '3949.09', 'value2': '7417', 'value3': '16.14', 'value4': '23.63', 'value5': '602', 'value6': '261.09', 'value7': '96.69', 'value8': '6.37', 'value9': '6.16'},{'year': '1957', 'region': 'Омская обл.', 'value1': '2299.1', 'value2': '3523', 'value3': '58.93', 'value4': '27.86', 'value5': '847', 'value6': '277.86', 'value7': '93.48', 'value8': '3.72', 'value9': '34.77'},{'year': '1958', 'region': 'Татарстан', 'value1': '1196.13', 'value2': '1302', 'value3': '165.48', 'value4': '46.33', 'value5': '1843', 'value6': '295.66', 'value7': '87.35', 'value8': '7.71', 'value9': '40.41'},{'year': '1959', 'region': 'Томская обл.', 'value1': '3441.85', 'value2': '8438', 'value3': '242.67', 'value4': '22.76', 'value5': '1132', 'value6': '235.42', 'value7': '99.66', 'value8': '5.57', 'value9': '33.31'},{'year': '1960', 'region': 'Башкортостан', 'value1': '732.78', 'value2': '4115', 'value3': '10.12', 'value4': '32.99', 'value5': '4346', 'value6': '317.02', 'value7': '100.46', 'value8': '8.77', 'value9': '35.24'},{'year': '1961', 'region': 'ХМАО Югра', 'value1': '1631.84', 'value2': '5809', 'value3': '213.63', 'value4': '43.96', 'value5': '2751', 'value6': '411.7', 'value7': '95.86', 'value8': '3.41', 'value9': '32.69'},{'year': '1962', 'region': 'Татарстан', 'value1': '716.14', 'value2': '9732', 'value3': '204.72', 'value4': '45.19', 'value5': '2306', 'value6': '197.15', 'value7': '94.07', 'value8': '2.59', 'value9': '4.87'},{'year': '1963', 'region': 'ХМАО Югра', 'value1': '2267.06', 'value2': '6697', 'value3': '16.21', 'value4': '36.3', 'value5': '2947', 'value6': '454.17', 'value7': '90.79', 'value8': '5.47', 'value9': '29.8'},{'year': '1964', 'region': 'Башкортостан', 'value1': '1376.51', 'value2': '3244', 'value3': '109.95', 'value4': '32.61', 'value5': '3490', 'value6': '301.16', 'value7': '89.74', 'value8': '6.64', 'value9': '59.59'},{'year': '1965', 'region': 'Тюменская обл.', 'value1': '3362.24', 'value2': '1103', 'value3': '125.07', 'value4': '17.73', 'value5': '4200', 'value6': '134.7', 'value7': '97.13', 'value8': '5.87', 'value9': '39.91'},{'year': '1966', 'region': 'Тюменская обл.', 'value1': '2371.28', 'value2': '6813', 'value3': '216.43', 'value4': '29.62', 'value5': '3967', 'value6': '178.19', 'value7': '101.31', 'value8': '6.52', 'value9': '6.61'},{'year': '1967', 'region': 'Татарстан', 'value1': '2942.69', 'value2': '5935', 'value3': '127.15', 'value4': '22.6', 'value5': '1479', 'value6': '352.55', 'value7': '96.83', 'value8': '2.85', 'value9': '13.8'},{'year': '1968', 'region': 'Томская обл.', 'value1': '4276.3', 'value2': '9403', 'value3': '121.03', 'value4': '29.6', 'value5': '1710', 'value6': '127.55', 'value7': '105.28', 'value8': '9.67', 'value9': '61.08'},{'year': '1969', 'region': 'Ямальский АО', 'value1': '2530.77', 'value2': '3164', 'value3': '85.56', 'value4': '34.18', 'value5': '4266', 'value6': '183.99', 'value7': '104.97', 'value8': '7.59', 'value9': '63.74'},{'year': '1970', 'region': 'Башкортостан', 'value1': '1527.4', 'value2': '2988', 'value3': '26.5', 'value4': '48.85', 'value5': '1094', 'value6': '409.97', 'value7': '119.29', 'value8': '9.44', 'value9': '33.78'},{'year': '1971', 'region': 'Татарстан', 'value1': '696.17', 'value2': '7366', 'value3': '127.64', 'value4': '46.84', 'value5': '4776', 'value6': '465.49', 'value7': '113.73', 'value8': '4.39', 'value9': '29.96'},{'year': '1972', 'region': 'Омская обл.', 'value1': '3806.43', 'value2': '3627', 'value3': '131.47', 'value4': '18.96', 'value5': '3414', 'value6': '268.52', 'value7': '119.15', 'value8': '5.29', 'value9': '12.61'},{'year': '1973', 'region': 'Омская обл.', 'value1': '900.61', 'value2': '5735', 'value3': '26.42', 'value4': '38.1', 'value5': '4791', 'value6': '427.97', 'value7': '114.99', 'value8': '9.14', 'value9': '21.02'},{'year': '1974', 'region': 'Татарстан', 'value1': '2443.06', 'value2': '8219', 'value3': '33.86', 'value4': '21.44', 'value5': '1031', 'value6': '430.26', 'value7': '109.6', 'value8': '4.44', 'value9': '9.73'},{'year': '1975', 'region': 'Башкортостан', 'value1': '2244.11', 'value2': '8000', 'value3': '129.02', 'value4': '13.27', 'value5': '947', 'value6': '129.16', 'value7': '107.78', 'value8': '5.55', 'value9': '29.91'},{'year': '1976', 'region': 'Омская обл.', 'value1': '824.85', 'value2': '7624', 'value3': '232.22', 'value4': '20.04', 'value5': '1119', 'value6': '193.93', 'value7': '113.4', 'value8': '5.55', 'value9': '12.59'},{'year': '1977', 'region': 'Тюменская обл.', 'value1': '4712.91', 'value2': '6422', 'value3': '39.32', 'value4': '38.85', 'value5': '3570', 'value6': '424.69', 'value7': '117.48', 'value8': '7.01', 'value9': '82.35'},{'year': '1978', 'region': 'Тюменская обл.', 'value1': '4898.18', 'value2': '9243', 'value3': '40.74', 'value4': '13.85', 'value5': '3322', 'value6': '296.15', 'value7': '115.43', 'value8': '6.89', 'value9': '47.72'},{'year': '1979', 'region': 'Тюменская обл.', 'value1': '1200.86', 'value2': '8007', 'value3': '28.68', 'value4': '30.39', 'value5': '3002', 'value6': '94.91', 'value7': '120.99', 'value8': '3.24', 'value9': '15.68'},{'year': '1980', 'region': 'Ямальский АО', 'value1': '3478.13', 'value2': '7831', 'value3': '133.76', 'value4': '31.39', 'value5': '4117', 'value6': '324.34', 'value7': '124.04', 'value8': '4.81', 'value9': '5.97'},{'year': '1981', 'region': 'ХМАО Югра', 'value1': '3914.15', 'value2': '7298', 'value3': '34.93', 'value4': '13.46', 'value5': '3117', 'value6': '380.4', 'value7': '137.6', 'value8': '6.24', 'value9': '68.69'},{'year': '1982', 'region': 'Башкортостан', 'value1': '4466.15', 'value2': '1122', 'value3': '152.5', 'value4': '31.35', 'value5': '3264', 'value6': '334.43', 'value7': '128.47', 'value8': '3.07', 'value9': '7.89'},{'year': '1983', 'region': 'Тюменская обл.', 'value1': '2367.21', 'value2': '2788', 'value3': '33.19', 'value4': '36.97', 'value5': '966', 'value6': '403.72', 'value7': '123.55', 'value8': '3.2', 'value9': '19.77'},{'year': '1984', 'region': 'Ямальский АО', 'value1': '1800.33', 'value2': '9086', 'value3': '215.2', 'value4': '43.29', 'value5': '2847', 'value6': '149.85', 'value7': '114.89', 'value8': '8.03', 'value9': '46.13'},{'year': '1985', 'region': 'Татарстан', 'value1': '3349.11', 'value2': '3358', 'value3': '231.91', 'value4': '34.63', 'value5': '1005', 'value6': '147.23', 'value7': '113.61', 'value8': '7.3', 'value9': '74.64'},{'year': '1986', 'region': 'Томская обл.', 'value1': '4709.16', 'value2': '1027', 'value3': '179.87', 'value4': '19.31', 'value5': '1072', 'value6': '436.91', 'value7': '108.7', 'value8': '5.9', 'value9': '12.83'},{'year': '1987', 'region': 'Омская обл.', 'value1': '4276.69', 'value2': '7154', 'value3': '22.18', 'value4': '33.73', 'value5': '1186', 'value6': '79.14', 'value7': '124.18', 'value8': '5.25', 'value9': '65.19'},{'year': '1988', 'region': 'ХМАО Югра', 'value1': '3572.13', 'value2': '3799', 'value3': '86.72', 'value4': '48.74', 'value5': '509', 'value6': '273.47', 'value7': '121.78', 'value8': '4.31', 'value9': '26.24'},{'year': '1989', 'region': 'Томская обл.', 'value1': '1444.78', 'value2': '6379', 'value3': '118.67', 'value4': '41.24', 'value5': '3849', 'value6': '300.84', 'value7': '134.28', 'value8': '9.23', 'value9': '12.39'},{'year': '1990', 'region': 'Омская обл.', 'value1': '1472.41', 'value2': '9773', 'value3': '241.65', 'value4': '21.99', 'value5': '3279', 'value6': '127.61', 'value7': '147.46', 'value8': '6.89', 'value9': '60.96'},{'year': '1991', 'region': 'Башкортостан', 'value1': '2087.61', 'value2': '8485', 'value3': '95.56', 'value4': '25.84', 'value5': '2840', 'value6': '61.57', 'value7': '139.26', 'value8': '2.16', 'value9': '30.08'},{'year': '1992', 'region': 'Омская обл.', 'value1': '809.55', 'value2': '4974', 'value3': '213.11', 'value4': '20.75', 'value5': '2259', 'value6': '341.42', 'value7': '132.69', 'value8': '3.34', 'value9': '4.43'},{'year': '1993', 'region': 'Тюменская обл.', 'value1': '870.8', 'value2': '4020', 'value3': '135.83', 'value4': '15.66', 'value5': '3590', 'value6': '328.04', 'value7': '123.43', 'value8': '4.06', 'value9': '50.11'},{'year': '1994', 'region': 'Томская обл.', 'value1': '2915.97', 'value2': '2373', 'value3': '37.91', 'value4': '23.03', 'value5': '2340', 'value6': '167.54', 'value7': '129.23', 'value8': '3.15', 'value9': '20.35'},{'year': '1995', 'region': 'Татарстан', 'value1': '1371.32', 'value2': '6521', 'value3': '200.23', 'value4': '42.08', 'value5': '1360', 'value6': '234.29', 'value7': '142.91', 'value8': '7.78', 'value9': '100.07'},{'year': '1996', 'region': 'ХМАО Югра', 'value1': '2106.38', 'value2': '9662', 'value3': '223.74', 'value4': '31.41', 'value5': '1435', 'value6': '98.76', 'value7': '136.03', 'value8': '5.77', 'value9': '47.09'},{'year': '1997', 'region': 'Ямальский АО', 'value1': '3569.06', 'value2': '3749', 'value3': '82.54', 'value4': '31.41', 'value5': '3348', 'value6': '60.57', 'value7': '134.41', 'value8': '9.84', 'value9': '132.26'},{'year': '1998', 'region': 'Тюменская обл.', 'value1': '1271.68', 'value2': '4142', 'value3': '19.97', 'value4': '48.52', 'value5': '2355', 'value6': '476.7', 'value7': '154.5', 'value8': '4.06', 'value9': '62.73'},{'year': '1999', 'region': 'ХМАО Югра', 'value1': '1108.82', 'value2': '4049', 'value3': '113.71', 'value4': '35.05', 'value5': '1008', 'value6': '228.82', 'value7': '145.4', 'value8': '8.71', 'value9': '63.32'},{'year': '2000', 'region': 'Томская обл.', 'value1': '906.19', 'value2': '6005', 'value3': '225.34', 'value4': '18.06', 'value5': '1079', 'value6': '257.1', 'value7': '154.09', 'value8': '7.81', 'value9': '60.17'},{'year': '2001', 'region': 'Тюменская обл.', 'value1': '4627.69', 'value2': '9805', 'value3': '169.33', 'value4': '22.98', 'value5': '4690', 'value6': '323.56', 'value7': '146.49', 'value8': '2.4', 'value9': '14.06'},{'year': '2002', 'region': 'Томская обл.', 'value1': '4038.41', 'value2': '5927', 'value3': '169.63', 'value4': '12.11', 'value5': '1243', 'value6': '188.51', 'value7': '151.45', 'value8': '8.55', 'value9': '12.95'},{'year': '2003', 'region': 'Омская обл.', 'value1': '751.67', 'value2': '1777', 'value3': '248.5', 'value4': '49.94', 'value5': '3088', 'value6': '427.61', 'value7': '155.19', 'value8': '5.51', 'value9': '76.96'},{'year': '2004', 'region': 'Татарстан', 'value1': '3865.88', 'value2': '7344', 'value3': '138.58', 'value4': '41.19', 'value5': '2661', 'value6': '437.16', 'value7': '167.76', 'value8': '9.1', 'value9': '137.4'},{'year': '2005', 'region': 'Томская обл.', 'value1': '3597.0', 'value2': '2213', 'value3': '23.11', 'value4': '32.81', 'value5': '4817', 'value6': '341.79', 'value7': '156.11', 'value8': '4.95', 'value9': '61.82'},{'year': '2006', 'region': 'Ямальский АО', 'value1': '2437.24', 'value2': '7426', 'value3': '246.52', 'value4': '49.88', 'value5': '2881', 'value6': '418.72', 'value7': '171.25', 'value8': '9.13', 'value9': '125.08'},{'year': '2007', 'region': 'Тюменская обл.', 'value1': '2888.59', 'value2': '7602', 'value3': '12.64', 'value4': '36.98', 'value5': '4479', 'value6': '392.92', 'value7': '184.58', 'value8': '3.75', 'value9': '6.92'},{'year': '2008', 'region': 'ХМАО Югра', 'value1': '1589.76', 'value2': '5408', 'value3': '117.95', 'value4': '22.09', 'value5': '4764', 'value6': '145.71', 'value7': '171.92', 'value8': '9.96', 'value9': '85.62'},{'year': '2009', 'region': 'Башкортостан', 'value1': '1291.41', 'value2': '9143', 'value3': '10.38', 'value4': '26.8', 'value5': '3584', 'value6': '86.86', 'value7': '178.72', 'value8': '6.0', 'value9': '107.23'},{'year': '2010', 'region': 'Башкортостан', 'value1': '2403.85', 'value2': '8605', 'value3': '39.34', 'value4': '44.02', 'value5': '4137', 'value6': '354.71', 'value7': '201.21', 'value8': '4.8', 'value9': '19.32'},{'year': '2011', 'region': 'Татарстан', 'value1': '2455.12', 'value2': '9325', 'value3': '27.79', 'value4': '47.71', 'value5': '2505', 'value6': '116.15', 'value7': '226.73', 'value8': '4.06', 'value9': '46.03'},{'year': '2012', 'region': 'Ямальский АО', 'value1': '728.0', 'value2': '4626', 'value3': '28.27', 'value4': '39.27', 'value5': '4047', 'value6': '313.05', 'value7': '241.3', 'value8': '9.3', 'value9': '134.65'},{'year': '2013', 'region': 'Тюменская обл.', 'value1': '3944.7', 'value2': '7803', 'value3': '48.16', 'value4': '17.11', 'value5': '1699', 'value6': '129.64', 'value7': '267.65', 'value8': '9.57', 'value9': '128.07'},{'year': '2014', 'region': 'Томская обл.', 'value1': '4016.84', 'value2': '9953', 'value3': '160.29', 'value4': '17.61', 'value5': '2606', 'value6': '118.66', 'value7': '299.25', 'value8': '9.02', 'value9': '215.94'},{'year': '2015', 'region': 'Башкортостан', 'value1': '3562.87', 'value2': '2653', 'value3': '242.5', 'value4': '19.77', 'value5': '1525', 'value6': '297.49', 'value7': '287.97', 'value8': '5.6', 'value9': '161.26'},{'year': '2016', 'region': 'Томская обл.', 'value1': '1753.02', 'value2': '4453', 'value3': '36.59', 'value4': '42.29', 'value5': '4409', 'value6': '336.88', 'value7': '299.99', 'value8': '6.72', 'value9': '161.27'},{'year': '2017', 'region': 'Омская обл.', 'value1': '4844.15', 'value2': '3589', 'value3': '119.41', 'value4': '18.24', 'value5': '2807', 'value6': '285.92', 'value7': '292.96', 'value8': '4.73', 'value9': '41.57'},{'year': '2018', 'region': 'ХМАО Югра', 'value1': '3148.7', 'value2': '8217', 'value3': '149.59', 'value4': '39.55', 'value5': '4228', 'value6': '292.08', 'value7': '298.33', 'value8': '7.12', 'value9': '212.41'},{'year': '2019', 'region': 'Башкортостан', 'value1': '4850.88', 'value2': '4370', 'value3': '80.75', 'value4': '42.27', 'value5': '3391', 'value6': '191.59', 'value7': '338.02', 'value8': '4.16', 'value9': '84.37'},{'year': '2020', 'region': 'Томская обл.', 'value1': '4064.7', 'value2': '7556', 'value3': '237.77', 'value4': '21.72', 'value5': '4591', 'value6': '391.12', 'value7': '345.04', 'value8': '5.0', 'value9': '120.76'},{'year': '2021', 'region': 'Ямальский АО', 'value1': '3626.53', 'value2': '3391', 'value3': '127.71', 'value4': '18.48', 'value5': '3450', 'value6': '253.28', 'value7': '337.08', 'value8': '3.87', 'value9': '13.04'},{'year': '2022', 'region': 'Башкортостан', 'value1': '1678.55', 'value2': '2797', 'value3': '71.73', 'value4': '32.52', 'value5': '2629', 'value6': '453.24', 'value7': '382.05', 'value8': '7.38', 'value9': '84.59'},{'year': '2023', 'region': 'Омская обл.', 'value1': '1951.68', 'value2': '4929', 'value3': '45.73', 'value4': '33.31', 'value5': '1480', 'value6': '69.11', 'value7': '364.52', 'value8': '7.7', 'value9': '84.2'}]

block content
  .details-block
    details
      p
        summary Построение графика
      form
        p
          | Значение по оси OX:
          br
          label
            input(type="radio", name="graph", value="year")
            | Год
          br
          label
            input(type="radio", name="graph", value="city")
            | Город
        p
          | Результат:
          br
          label
            input(type="checkbox", name="graph", value="dividends")
            | Средние дивиденды (%)
          br
          label
            input(type="checkbox", name="graph", value="people")
            | Уровень занятости (привлеченных человек)
          br
          label
            input(type="checkbox", name="graph", value="actprice")
            | Средняя стоимость акции (руб)
          br
          label
            input(type="checkbox", name="graph", value="value")
            | Объём добычи (тысяч тонн)
        p
          input(type="button", value="Построить")
          input(type="reset", value="Сбросить настройки")
    details
      summary Фильтр
      form
        p
          each label in ["Год","Город","Доходность (млн руб)","Объем добычи (тысяч тонн)","Затраты на исследования и разработку (млн руб)","Затраты на экологическую безопасность (млн руб)","Уровень занятости (человек)","Инвестиции и финансирование (млн руб)","Стоимость 1 акции (руб)","Дивиденды на акцию (%)","Общая сумма выплат акционерам (млн руб)"]
            if label == "Город"
              label= label + ":"
              input(type="text")
              br
            else
              label= label + ": от"
              input(type="text")
              |  до
              input(type="text")
              br
            br
        p
          input(type="button", value="Найти")
          input(type="reset", value="Сбросить фильтр")
    details
      summary Сортировка
      form
        each priority in ["Первый", "Второй", "Третий"]
          p
            | #{priority} приоритет:
            select
              each option in ["Год","Город","Доходность (млн руб)","Объем добычи (тысяч тонн)","Затраты на исследования и разработку (млн руб)","Затраты на экологическую безопасность (млн руб)","Уровень занятости (человек)","Инвестиции и финансирование (млн руб)","Стоимость 1 акции (руб)","Дивиденды на акцию (%)","Общая сумма выплат акционерам (млн руб)"]
                option= option
            select
              option По возрастанию
              option По убыванию
        p
          input(type="button", value="Сортировать")
          input(type="reset", value="Сбросить настройки")
  h1 Данные Нефтегазовой Компании
  table
    tbody
      tr
        th Год
        th Нефтяной регион
        th Доходность (млн руб)
        th Объем добычи (тысяч тонн)
        th Затраты на исследования и разработку (млн руб)
        th Затраты на экологическую безопасность (млн руб)
        th Уровень занятости (человек)
        th Инвестиции и финансирование (млн руб)
        th Стоимость 1 акции (руб)
        th Дивиденды на акцию (%)
        th Общая сумма выплат акционерам (млн руб)
    each row in data
      tr
        td= row.year
        td= row.region
        td= row.value1
        td= row.value2
        td= row.value3
        td= row.value4
        td= row.value5
        td= row.value6
        td= row.value7
        td= row.value8
        td= row.value9